spring:
  application:
    name: mod-quick-marc
  datasource:
    # to boot up application despite of any DB connection issues
    continue-on-error: true
    password: ${DB_PASSWORD:pass}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:db}
    username: ${DB_USERNAME:user}
    hikari:
      register-mbeans: true
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}
    consumer:
      enable-auto-commit: true
      auto-commit-interval: 1000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL10Dialect
        format_sql: true
    show-sql: true
  liquibase:
    changeLog: classpath:db/changelog/changelog-master.xml
    enabled: true
  jackson:
    default-property-inclusion: NON_EMPTY
folio:
  tenant:
    validation:
      enabled: true
  logging:
    request:
      enabled: true
    feign:
      enabled: true
      # Possible values: none, basic, headers, full
      level: full
management:
  endpoints:
    web:
      exposure:
        include: info,health,env,httptrace
      base-path: /admin
  health:
    defaults:
      enabled: false
    readinessstate:
      enabled: true
server:
  port: 8081
job:
  execution:
    profile:
      default:
        id: 6409dcff-71fa-433a-bc6a-e70ad38a9604
        name: CLI Create MARC Bibs and Instances

logging:
  level:
    com.zaxxer.hikari: DEBUG
