spring:
  application:
    name: mod-quick-marc
  datasource:
    # to boot up application despite of any DB connection issues
    continue-on-error: true
    password: ${DB_PASSWORD:pass}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:db}
    username: ${DB_USERNAME:user}
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}
    consumer:
      enable-auto-commit: true
      auto-commit-interval: 1000
  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL10Dialect
        format_sql: true
    show-sql: false
  liquibase:
    changeLog: classpath:db/changelog/changelog-master.xml
    enabled: true
  jackson:
    default-property-inclusion: NON_EMPTY
folio:
  qm:
    cache:
      update:
        max-size: 1000
        duration:
          min: 10
    creation-status:
      clear:
        initial-delay-ms: 3_600_000
        fixed-delay-ms: 86_400_000
  tenant:
    validation:
      enabled: true
  logging:
    request:
      enabled: false
    feign:
      enabled: true
      level: basic
  job:
    execution:
      profile:
        marc-bib:
          id: 6409dcff-71fa-433a-bc6a-e70ad38a9604
          name: QuickMarc Create MARC Bib and Inventory Instance
        marc-holdings:
          id: fa0262c7-5816-48d0-b9b3-7b7a862a5bc7
          name: QuickMarc Create MARC Holdings and Inventory Holdings
management:
  endpoints:
    web:
      exposure:
        include: info,health,env,httptrace
      base-path: /admin
#  endpoint:
#    health:
#      show-details: always
#      show-components: always
###################################################
# Disable all checks except for readiness
###################################################
  health:
    defaults:
      enabled: false
    readinessstate:
      enabled: true
server:
  port: 8081