spring:
  application:
    name: mod-quick-marc
  datasource:
    # to boot up application despite of any DB connection issues
    continue-on-error: true
    password: ${DB_PASSWORD:pass}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:db}
    username: ${DB_USERNAME:user}
    hikari:
      register-mbeans: true
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}
    consumer:
      enable-auto-commit: true
      auto-commit-interval: 1000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL10Dialect
        format_sql: true
    show-sql: true
  liquibase:
    changeLog: classpath:db/changelog/changelog-master.xml
    enabled: true
  jackson:
    default-property-inclusion: NON_EMPTY
folio:
  environment: ${ENV:folio}
  tenant:
    validation:
      enabled: true
  logging:
    request:
      enabled: false
    feign:
      enabled: true
      level: full
  job:
    execution:
      profile:
        marc-bib:
          id: 6409dcff-71fa-433a-bc6a-e70ad38a9604
          name: QuickMarc Create MARC Bib and Inventory Instance
        marc-holdings:
          id: fa0262c7-5816-48d0-b9b3-7b7a862a5bc7
          name: QuickMarc Create MARC Holdings and Inventory Holdings
        marc-authority:
          id: 1a338fcd-3efc-4a03-b007-394eeb0d5fb9
          name: QuickMarc Delete MARC Authority
  kafka:
    numberOfPartitions: ${NUMBER_OF_PARTITIONS:5}
    replicationFactor: ${REPLICATION_FACTOR:1}
    listener:
      di-completed:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:(${folio.environment}\.)[a-zA-z0-9-]+\.\w+\.DI_COMPLETED}
        group-id: ${folio.environment}-mod-quick-marc-di-group
      di-error:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:(${folio.environment}\.)[a-zA-z0-9-]+\.\w+\.DI_ERROR}
        group-id: ${folio.environment}-mod-quick-marc-di-group
      qm-completed:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:(${folio.environment}\.)[a-zA-z0-9-]+\.\w+\.QM_COMPLETED}
        group-id: ${folio.environment}-mod-quick-marc-qm-group
management:
  endpoints:
    web:
      exposure:
        include: info,health,env,httptrace
      base-path: /admin
  health:
    defaults:
      enabled: false
    readinessstate:
      enabled: true
server:
  port: 8081

logging:
  level:
    com.zaxxer.hikari: DEBUG
