openapi: 3.0.0
info:
  title: quickMARC MARC Specifications
  version: "1.2"
  description: API for retrieving MARC field specifications by record type and field tag
  contact:
    name: FOLIO
tags:
  - name: marc-specifications
    description: Operations for retrieving MARC field specifications
servers:
  - url: https://folio-edev-spitfire-diku.ci.folio.org
    description: Development environment.
  - url: https://folio-etesting-{environment}.ci.folio.org
    description: Reference environments.
    variables:
      environment:
        default: snapshot-diku
        enum:
          - snapshot-diku
          - sprint-fs09000000
paths:
  /marc-specifications/{recordType}/{fieldTag}:
    get:
      tags:
        - marc-specifications
      summary: Get MARC specification
      description: Retrieves MARC field specification for the given record type and field tag
      operationId: getMarcSpecification
      parameters:
        - name: recordType
          in: path
          required: true
          description: Type of MARC record
          schema:
            type: string
            enum: [ bibliographic, holdings, authority ]
          example: bibliographic
        - name: fieldTag
          in: path
          required: true
          description: Three-digit MARC field tag
          schema:
            type: string
            pattern: ^[0-9]{3}$
          example: "008"
      responses:
        '200':
          description: MARC specification successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marcSpec'
        '400':
          description: Bad request, e.g. invalid record type or field tag format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: MARC specification not found for the given record type and field tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
components:
  schemas:
    error:
      type: object
      description: Error response
      properties:
        message:
          type: string
          description: Error message
          example: may not be null
        type:
          type: string
          description: Error type identifier
          example: "1"
        code:
          type: string
          description: Error code
          example: "-1"
        parameters:
          type: array
          description: Additional error parameters
          items:
            type: object
            properties:
              key:
                type: string
                example: moduleTo
              value:
                type: string
                example: "null"
    marcSpec:
      $ref: 'schemas/marcSpecification.yaml'

